<p>
パスワード再設定についてのお問い合わせありがとうございます。
</p>

<p>下記の「パスワードを再設定する」をクリックいいただき、パスワードの再設定にお進みください。</p>

<p><%= link_to 'パスワードを再設定する', edit_password_url(@resource, reset_password_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url']).html_safe %></p>

<p>よろしくお願いいたします。</p>
<p>トレーニング予約システム</p>
<p>
※ このメールに心あたりがない場合は、お手数ですがメールを削除いただくようお願いいたします。<br>
※ こちらのメールアドレスは送信専用となります。ご返信はできませんのでご了承ください。
</p>